@model int

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h6 class="display-4">Welcome to the Home Page</h6>
    <p>
        Page Visit Count: @Model
    </p>
    <a 
        href="/Home/OtherPage">Go to Other Page
    </a>
</div>
